<div class="hero hero-container container">
  <header class="header">
    <a routerLink="/" class="logo">
      <ion-icon name="earth-outline"></ion-icon><span>Dankov</span>
      <span>Global</span>
    </a>
    <nav class="navigation">
      <ul class="navigation-list">
        <li class="navigation-item"><a class="active" routerLink="/">Home</a></li>
        <li class="navigation-item">
          <a href="../why-dankov/why-dankov.html">Why Thomas</a>
        </li>
        <li class="navigation-item">
          <a href="/industries">Industries</a>
        </li>
        <li class="navigation-item"><a href="/products">Products</a></li>
        <li class="navigation-item">
          <a href="/global">Global Facilities</a>
        </li>
        <li class="navigation-item"><a href="/company">Company</a></li>
      </ul>
    </nav>
    <p class="header-icons">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-icon name="search-outline"></ion-icon>
    </p>
  </header>
  <h1 class="heading-1 header-heading">
    Your Global Partner. Creating a Better World
  </h1>
</div>