/* REVIEWS SECTION */
.section-reviews {
  padding: 0;
}
.review-container {
  padding: 0 4rem 14rem 4rem;
  display: flex;
  gap: 5rem;
}
.review-image-box {
  flex: 1 0 40%;
  display: block;
  text-align: center;
}
.review-image {
  width: 100%;
  display: block;
  text-align: center;
}
.review-content {
  display: flex;
  gap: 5rem;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem 0 15rem;
}
.review-text {
  color: var(--dark-gray);
  font-size: 3rem;
  line-height: 1.8;
}

.review-author {
  text-transform: capitalize;
  color: var(--light-green);
  font-weight: bold;
}
