<section class="section section-reviews">
  <div class="container review-container">
    <div class="review-image-box">
      <img class="review-image" src="../../images/home/review-image-1.png"
        alt="a women with a corb full with vegetables." />
    </div>
    <div class="review-content">
      <h2 class="heading-2 rewiew-title">
        Client Feedback <br />
        and Reviews
      </h2>

      <p class="review-text">
        “Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text
        ever since the 1500s. It has survived not only five centuries, but
        also the leap into electronic typesetting, remaining essentially
        unchanged.“
      </p>

      <p class="review-author">Ivan Petkov</p>
    </div>
  </div>
</section>