.industrie {
  color: var(--white);
  /* position: relative; */
  margin-bottom: 14rem;
}

.industrie-container {
  height: 100vh;
  background-image: url("/static/images/industrie/Industrie-main.png");
  background-position: center center;
  background-size: cover;
  padding: 0 4rem;
}

.logo {
  /* display: inline-block; */
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--white);
  text-decoration: none;
}

.header {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation {
  width: 100%;
}

.navigation-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navigation-item {
  list-style: none;
}

.navigation-item a {
  text-decoration: none;
  color: var(--white);
  padding-bottom: 1px;
  transition: all 0.3s;
  position: relative;
}
.navigation-item a:hover::after,
.navigation-item a.active::after {
  content: "";
  height: 2px;
  width: 40%;
  /* display: block; */
  background-color: var(--white);
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: -2px;
  z-index: 10;
  border-radius: 50rem;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-icons > * {
  cursor: pointer;
}

.header-heading {
  color: var(--white);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* INDUSTRIE */
.status-industrie-section {
  background-color: var(--primary-dark-green);
  color: var(--white);
}
.status-container {
  padding: 14rem 0;
  display: flex;
  gap: 20rem;
}
.status-heading-box {
  flex: 1;
}
.status-heading {
  color: var(--white);
  margin-bottom: 2rem;
}
.status-content-box {
  flex: 1;
}
.status-text {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 5rem;
  margin-bottom: 2rem;
}
.status-list {
  list-style: none;
}
.status-item {
  display: flex;
}
span:nth-child(2) {
  color: var(--white);
  font-weight: bold;
  font-size: 2.4rem;
  margin-right: 1rem;
}
