<section class="section welcome-section">
  <div class="welcome-content">
    <h2 class="heading-2 welcome-title">
      Fresh Produce Delivery. Farm-to-table Experience
    </h2>
    <p class="welcome-parahraph">
      Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text
      ever since the 1500s, when an unknown printer took a galley of type
      and scrambled it to make a type specimen book.
    </p>
    @if (cssClass) {

    <p class="welcome-parahraph ">
      It was popularised in the 1960s with the release of Letraset sheets
      containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>
    }
    <button class="welcome-link" (click)="readMore()">Read More...</button>
  </div>
  <div class="welcome-image-box">
    <img class="welcome-image" src="/images/home/welcome-image.png" alt="" />
  </div>
</section>

<section class="section section-why-us-home">
  <div class="container why-us-home-container">
    <h2 class="heading-2 why-us-home-heading">
      How we commit to a <br />
      Culture of Sustainability
    </h2>
    <ul class="why-us-home-list">
      <li class="why-us-home-item">
        <ion-icon name="pulse"></ion-icon>
        <h4 class="heading-4 why-us-home-item-heading">Techology</h4>
        <p class="why-us-home-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure
          molestiae dignissimos quasi laudantium modi at ipsam fugiat
          maxime, earum praesentium assumenda deleniti reiciendis iusto
          odit nobis facilis commodi est sit.
        </p>
      </li>
      <li class="why-us-home-item">
        <ion-icon name="archive"></ion-icon>
        <h4 class="heading-4 why-us-home-item-heading">Achivement</h4>
        <p class="why-us-home-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure
          molestiae dignissimos quasi laudantium modi at ipsam fugiat
          maxime, earum praesentium assumenda deleniti reiciendis iusto
          odit nobis facilis commodi est sit.
        </p>
      </li>
      <li class="why-us-home-item">
        <ion-icon name="car"></ion-icon>
        <h4 class="heading-4 why-us-home-item-heading">Transportation</h4>
        <p class="why-us-home-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure
          molestiae dignissimos quasi laudantium modi at ipsam fugiat
          maxime, earum praesentium assumenda deleniti reiciendis iusto
          odit nobis facilis commodi est sit.
        </p>
      </li>
    </ul>
  </div>
</section>

<app-product></app-product>

<section class="section section-reviews">
  <div class="container review-container">
    <div class="review-image-box">
      <img class="review-image" src="../../images/home/review-image-1.png"
        alt="a women with a corb full with vegetables." />
    </div>
    <div class="review-content">
      <h2 class="heading-2 rewiew-title">
        Client Feedback <br />
        and Reviews
      </h2>

      <p class="review-text">
        “Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text
        ever since the 1500s. It has survived not only five centuries, but
        also the leap into electronic typesetting, remaining essentially
        unchanged.“
      </p>

      <p class="review-author">Ivan Petkov</p>
    </div>
  </div>
</section>

<section class="section section-cta">
  <div class="container cta-container">
    <img class="cta-image" src="../../images/home/home-cta-image.png"
      alt="a women on the field pulling some vegetables" />
    <div class="cta-content">
      <img src="../../images/home/cta-logo-image.png" alt="Organic logo image" class="cta-logo-image" />
      <h2 class="heading-2 cta-heading">
        Better for farmers, <br />
        Better for the Planet.
      </h2>
      <p class="cta-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Accusamus laboriosam expedita voluptatem animi aperiam, asperiores
        ipsam quod veniam enim aspernatur sint quas possimus, quos cumque.
      </p>
      <a href="#" class="cta-btn">Supply now</a>
    </div>
  </div>
</section>

<section class="section section-insta">
  <div class="container insta-container">
    <h2 class="heading-2 insta-heading">Follow Us on Instagram</h2>
    <div class="image-box">
      <img class="insta-image" src="../../images/home/insta-img-1.png" alt="a Tractor on the field working" />
      <img class="insta-image" src="../../images/home/insta-img-2.png" alt="something like grass product to " />
      <img class="insta-image" src="../../images/home/insta-img-3.png"
        alt="A red tomato in hand of a human showing how it grows" />
      <img class="insta-image" src="../../images/home/insta-img-4.png"
        alt="an old man have touch an apple on the three" />
    </div>
  </div>
</section>