<section class="section section-why-us-home">
  <div class="container why-us-home-container">
    <h2 class="heading-2 why-us-home-heading">
      How we commit to a <br />
      Culture of Sustainability
    </h2>
    <ul class="why-us-home-list">
      <li class="why-us-home-item">
        <ion-icon name="pulse"></ion-icon>
        <h4 class="heading-4 why-us-home-item-heading">Techology</h4>
        <p class="why-us-home-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure
          molestiae dignissimos quasi laudantium modi at ipsam fugiat
          maxime, earum praesentium assumenda deleniti reiciendis iusto
          odit nobis facilis commodi est sit.
        </p>
      </li>
      <li class="why-us-home-item">
        <ion-icon name="archive"></ion-icon>
        <h4 class="heading-4 why-us-home-item-heading">Achivement</h4>
        <p class="why-us-home-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure
          molestiae dignissimos quasi laudantium modi at ipsam fugiat
          maxime, earum praesentium assumenda deleniti reiciendis iusto
          odit nobis facilis commodi est sit.
        </p>
      </li>
      <li class="why-us-home-item">
        <ion-icon name="car"></ion-icon>
        <h4 class="heading-4 why-us-home-item-heading">Transportation</h4>
        <p class="why-us-home-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure
          molestiae dignissimos quasi laudantium modi at ipsam fugiat
          maxime, earum praesentium assumenda deleniti reiciendis iusto
          odit nobis facilis commodi est sit.
        </p>
      </li>
    </ul>
  </div>
</section>