/* SECTION WHY US HOME */
.section-why-us-home {
  padding: 14rem 0;
  background-color: var(--primary-dark-green);
  color: var(--white);
}
.why-us-home-container {
  padding: 0 4rem;
}

.why-us-home-heading {
  width: 50%;
  color: var(--white);
  margin-bottom: 3rem;
}
.why-us-home-item-heading {
  margin-bottom: 2rem;
  color: var(--white);
}

.why-us-home-list {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  list-style: none;
  color: var(--white);
}
/* .why-us-item {
} */

.why-us-home-text {
  color: var(--white);
  font-size: 1.6rem;
  line-height: 1.6;
}
