<section class="section status-industrie-section">
  <div class="container status-container">
    <div class="status-heading-box">
      <h2 class="heading-2 status-heading">
        We Provide Soluctions Across Diverse Industries.
      </h2>
    </div>
    <div class="status-content-box">
      <p class="status-text">
        Dankov Global is a leading provider of innovative solutions across
        various industries, including:
      </p>
      <ul class="status-list">
        <li class="status-item">
          <span>52+</span>
          <span></span>
          <span>Industries</span>
        </li>
        <li class="status-item">
          <span>326+</span>
          <span></span>
          <span>Across Destinations</span>
        </li>
        <li class="status-item">
          <span>465+</span>
          <span></span>
          <span>Total Customers</span>
        </li>
        <li class="status-item">
          <span>793+</span>
          <span></span>
          <span>Aplications</span>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="section section-featured-industries">
  <div class="container featured-industrie-container">
    <h2 class="heading-2 featured-industrie-heading">
      Featured Industries
    </h2>
    <div class="featured-industrie-box">
      <div class="featured-industrie-item">
        <img class="featured-industrie-image" src="../../images/industrie/Traktor.png" alt="Traktor" srcset="">
        <span class="featured-industrie-title">Agriculture</span>
      </div>
      <div class="featured-industrie-item">
        <img class="featured-industrie-image" src="../../images/industrie/Containers.png" alt="Containers" srcset="">
        <span class="featured-industrie-title">Industrial</span>
      </div>
      <div class="featured-industrie-item">
        <img class="featured-industrie-image" src="../../images/industrie/Truck.png" alt=" a Truck" srcset="">
        <span class="featured-industrie-title">Commercial Vehicle</span>
      </div>
      <div class="featured-industrie-item">
        <img class="featured-industrie-image" src="../../images/industrie/Cook.png"
          alt="Women in the kichen with cut vegetables" srcset="">
        <span class="featured-industrie-title">Hospitality</span>
      </div>
      <div class="featured-industrie-item">
        <img class="featured-industrie-image" src="../../images/industrie/Bussiness.png"
          alt="A Bussiness meeting with two people, women and man" srcset="">
        <span class="featured-industrie-title">Corporate</span>
      </div>
      <div class="featured-industrie-item">
        <img class="featured-industrie-image" src="../../images/industrie/Rail Transport.png" alt="A Railway "
          srcset="">
        <span class="featured-industrie-title">Railway</span>
      </div>
      <div class="featured-industrie-item">
        <img class="featured-industrie-image" src="../../images/industrie/Shif.png" alt="Shif on the harboard"
          srcset="">
        <span class="featured-industrie-title">Marine</span>
      </div>
      <div class="featured-industrie-item">
        <img class="featured-industrie-image" src="../../images/industrie/Airport.png"
          alt="Women ready for cheching on the Airport" srcset="">
        <span class="featured-industrie-title">Aviation</span>
      </div>
      <div class="featured-industrie-item">
        <img class="featured-industrie-image" src="../../images/industrie/Gifts.png"
          alt="Some products ready to be presents" srcset="">
        <span class="featured-industrie-title">Non-Profit</span>
      </div>


    </div>
  </div>
</section>