<section class="contact-field">
  <div class="container contact-field-container">
    <h2 class="heading-2 constat-field-heading">
      Keep in Touch. <br />
      Visit our Office Today
    </h2>

    <ul class="contact-list">
      <li class="contact-item">
        <ion-icon class="contact-icon" name="location-outline"></ion-icon>
        <h5 class="heading-5">Address</h5>
        <span>Level 1. 61-63 Wellington Street, <br />
          St Klida Vlc 3183</span>
      </li>
      <li class="contact-item">
        <ion-icon class="contact-icon" name="call-outline"></ion-icon>
        <h5 class="heading-5">Discuss</h5>
        <span>For call Enquire? <br />
          Call us on 1300 233 444</span>
      </li>
      <li class="contact-item">
        <ion-icon class="contact-icon" name="mail-outline"></ion-icon>
        <h5 class="heading-5">Enquire</h5>
        <span>For email Enquire, <br />
          {{email}}
        </span>
      </li>
    </ul>
  </div>
</section>

<section class="contact-form">
  <div class="container contact-form-container">
    <div class="contact-form-image-box">
      <img class="contact-form-image" src="/static/images/contact/contact-image.png"
        alt="an old man with a basket full with vegetables" />
    </div>
    <div class="contact-form-content-box">
      <h2 class="heading-2 contact-form-heading">
        General Inquiries. <br />
        Fill Out the Form
      </h2>
      <form class="contact-form-form">
        <div class="contact-form-input-box">
          <input type="text" class="contact-form-input" placeholder="Full Name" />
          <input type="email" class="contact-form-input" placeholder="Email Address" />
          <input type="phone" class="contact-form-input" placeholder="Phone Number" />
          <input type="email" class="contact-form-input" placeholder="Your Email" />
          <textarea name="text" id="contact-form-textarea" cols="30" rows="10" class="contact-form-textarea"
            placeholder="Message"></textarea>
        </div>

        <button type="submit" class="btn contact-form-btn">
          Send Message
        </button>
      </form>
    </div>
  </div>
</section>

<section class="section faq-section">
  <div class="container faq-container">
    <h2 class="heading-2 faq-heading">
      Frequenty Asked <br />
      Questions
    </h2>

    <div class="product-info-accordion">
      <div class="item">
        <header class="item-header">
          <p class="text">How do I order food through Thomas Global?</p>
          <ion-icon class="icon" name="add-outline"></ion-icon>
        </header>
        <div class="hidden-box">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Possimus voluptate amet suscipit voluptatum aliquid nisi
            tempora, voluptatibus alias consequatur ratione, dolores sunt
            voluptas minus repudiandae asperiores est nemo corrupti
            delectus.
          </p>
        </div>
      </div>
      <div class="item">
        <header class="item-header">
          <p class="text">
            Are your fruits and vegetable produce reasonable?
          </p>
          <ion-icon class="icon" name="add-outline"></ion-icon>
        </header>
        <div class="hidden-box">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Possimus voluptate amet suscipit voluptatum aliquid nisi
            tempora, voluptatibus alias consequatur ratione, dolores sunt
            voluptas minus repudiandae asperiores est nemo corrupti
            delectus.
          </p>
        </div>
      </div>
      <div class="item">
        <header class="item-header">
          <p class="text">What happens if I miss a pickup?</p>
          <ion-icon class="icon" name="add-outline"></ion-icon>
        </header>
        <div class="hidden-box">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Possimus voluptate amet suscipit voluptatum aliquid nisi
            tempora, voluptatibus alias consequatur ratione, dolores sunt
            voluptas minus repudiandae asperiores est nemo corrupti
            delectus.
          </p>
        </div>
      </div>
      <div class="item">
        <header class="item-header">
          <p class="text">How can an order be cancelled?</p>
          <ion-icon class="icon" name="add-outline"></ion-icon>
        </header>
        <div class="hidden-box">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Possimus voluptate amet suscipit voluptatum aliquid nisi
            tempora, voluptatibus alias consequatur ratione, dolores sunt
            voluptas minus repudiandae asperiores est nemo corrupti
            delectus.
          </p>
        </div>
      </div>
      <div class="item">
        <header class="item-header">
          <p class="text">What time will my order be delivered?</p>
          <ion-icon class="icon" name="add-outline"></ion-icon>
        </header>
        <div class="hidden-box">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Possimus voluptate amet suscipit voluptatum aliquid nisi
            tempora, voluptatibus alias consequatur ratione, dolores sunt
            voluptas minus repudiandae asperiores est nemo corrupti
            delectus.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>