<section class="section section-cta">
  <div class="container cta-container">
    <img class="cta-image" src="../../images/home/home-cta-image.png"
      alt="a women on the field pulling some vegetables" />
    <div class="cta-content">
      <img src="../../images/home/cta-logo-image.png" alt="Organic logo image" class="cta-logo-image" />
      <h2 class="heading-2 cta-heading">
        Better for farmers, <br />
        Better for the Planet.
      </h2>
      <p class="cta-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Accusamus laboriosam expedita voluptatem animi aperiam, asperiores
        ipsam quod veniam enim aspernatur sint quas possimus, quos cumque.
      </p>
      <a href="#" class="cta-btn">Supply now</a>
    </div>
  </div>
</section>