.why {
  color: var(--white);
  /* position: relative; */
  margin-bottom: 14rem;
}

.why-container {
  height: 100vh;
  background-image: url("/static/images/why/why-hero-image.png");
  background-position: center center;
  background-size: cover;
  padding: 0 4rem;
  margin-bottom: 14rem;
}

.section-why-us {
  padding: 0 4rem 14rem 4rem;
  background-color: var(--white);
}

.why-us-heading {
  color: var(--dark-grey);
  margin-bottom: 5rem;
}

.features-icon {
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  color: var(--light-green);
}

.why-us-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5rem;
}

.why-us-feature {
  width: 30%;
}

/* media queries */
/* 1000px */
@media (max-width: 62.5em) {
  .cta-container {
    padding: 0rem 0rem 14rem 0rem;
  }
}

/* 940px */
@media (max-width: 58.75em) {
  html {
    font-size: 50%;
  }
}

/* 850px */
@media (max-width: 53.125em) {
  .heading-1 {
    font-size: 4.8rem;
  }

  .heading-2 {
    font-size: 3.2rem;
  }

  .heading-4 {
    font-size: 2.4rem;
  }
}

/* 760px */
@media (max-width: 47.5em) {
  html {
    font-size: 40%;
  }
}

/* 680px */
@media (max-width: 42.5em) {
}

/* 450px */
@media (max-width: 28.125em) {
}
