<section class="section section-product-description">
  <div class="container product-description-container">
    <div class="product-description">
      <div class="product-description-image-box">
        <img class="product-description-image" src="/static/images/product-details/product-details-image.png"
          alt="product image" />
      </div>
      <div class="product-description-content-box">
        <h3 class="product-description-heading">Product Name 250g</h3>
        <p class="availabity">
          <span>SKU: TG1528</span>
          <span>Availability: In Stock</span>
        </p>
        <p class="product-description-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p class="product-decription-price">
          <span>€4.50</span>
          <span>$2.50</span>
        </p>
        <p class="product-decription-quantity">
          <label for="quantity">Quantity:</label>
          <input type="number" id="quantity" name="quantity" min="1" max="100" value="1" />
        </p>
        <button class="btn btn-primary">Add to Cart</button>
      </div>
    </div>
  </div>
</section>

<section class="section product-info-section">
  <div class="container product-info-container">

    <h2 class="heading-2 product-info-heading">Product Information</h2>
    <div class="product-info-accordion">
      <div class="item">
        <header class="item-header">

          <p class="text">Product Description</p>
          <ion-icon class="icon" name="add-outline"></ion-icon>
        </header>
        <div class="hidden-box">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptate amet suscipit voluptatum
            aliquid nisi tempora, voluptatibus alias consequatur ratione, dolores sunt voluptas minus repudiandae
            asperiores est nemo corrupti delectus.
          </p>
        </div>
      </div>
      <div class="item">
        <header class="item-header">

          <p class="text">Refund & Return Policy</p>
          <ion-icon class="icon" name="add-outline"></ion-icon>
        </header>
        <div class="hidden-box">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptate amet suscipit voluptatum
            aliquid nisi tempora, voluptatibus alias consequatur ratione, dolores sunt voluptas minus repudiandae
            asperiores est nemo corrupti delectus.
          </p>
        </div>
      </div>
      <div class="item">
        <header class="item-header">

          <p class="text">Shipping info</p>
          <ion-icon class="icon" name="add-outline"></ion-icon>
        </header>
        <div class="hidden-box">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptate amet suscipit voluptatum
            aliquid nisi tempora, voluptatibus alias consequatur ratione, dolores sunt voluptas minus repudiandae
            asperiores est nemo corrupti delectus.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-product-carousel">
  <div class="container product-carousel-container">
    <div class="product-carousel">
      <h2 class="heading-2 product-carousel-heading">You May Also Like</h2>

      <ul class="product-carousel-list">
        <ion-icon name="chevron-back-outline"></ion-icon>
        <li class="home-product-item">
          <img src="../../images/home/product-1.png" alt="lettice image" class="home-product-image" />

          <div class="home-product-content">
            <p class="product-title">Chinese Cabbage 250gm</p>
            <p class="product-price">20.00€</p>
          </div>
        </li>
        <li class="home-product-item">
          <img src="../../images/home/product-1.png" alt="lettice image" class="home-product-image" />

          <div class="home-product-content">
            <p class="product-title">Chinese Cabbage 250gm</p>
            <p class="product-price">20.00€</p>
          </div>
        </li>
        <li class="home-product-item">
          <img src="../../images/home/product-1.png" alt="lettice image" class="home-product-image" />

          <div class="home-product-content">
            <p class="product-title">Chinese Cabbage 250gm</p>
            <p class="product-price">20.00€</p>
          </div>
        </li>
        <li class="home-product-item">
          <img src="../../images/home/product-1.png" alt="lettice image" class="home-product-image" />

          <div class="home-product-content">
            <p class="product-title">Chinese Cabbage 250gm</p>
            <p class="product-price">20.00€</p>
          </div>
        </li>
        <li class="home-product-item">
          <img src="../../images/home/product-1.png" alt="lettice image" class="home-product-image" />

          <div class="home-product-content">
            <p class="product-title">Chinese Cabbage 250gm</p>
            <p class="product-price">20.00€</p>
          </div>
        </li>

        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ul>
    </div>
    <div class="product-carousel">
      <h2 class="heading-2 product-carousel-heading">Recently Visited</h2>

      <ul class="product-carousel-list">
        <ion-icon name="chevron-back-outline"></ion-icon>
        <li class="home-product-item">
          <img src="../../images/home/product-1.png" alt="lettice image" class="home-product-image" />

          <div class="home-product-content">
            <p class="product-title">Chinese Cabbage 250gm</p>
            <p class="product-price">20.00€</p>
          </div>
        </li>
        <li class="home-product-item">
          <img src="../../images/home/product-1.png" alt="lettice image" class="home-product-image" />

          <div class="home-product-content">
            <p class="product-title">Chinese Cabbage 250gm</p>
            <p class="product-price">20.00€</p>
          </div>
        </li>
        <li class="home-product-item">
          <img src="../../images/home/product-1.png" alt="lettice image" class="home-product-image" />

          <div class="home-product-content">
            <p class="product-title">Chinese Cabbage 250gm</p>
            <p class="product-price">20.00€</p>
          </div>
        </li>
        <li class="home-product-item">
          <img src="../../images/home/product-1.png" alt="lettice image" class="home-product-image" />

          <div class="home-product-content">
            <p class="product-title">Chinese Cabbage 250gm</p>
            <p class="product-price">20.00€</p>
          </div>
        </li>
        <li class="home-product-item">
          <img src="../../images/home/product-1.png" alt="lettice image" class="home-product-image" />

          <div class="home-product-content">
            <p class="product-title">Chinese Cabbage 250gm</p>
            <p class="product-price">20.00€</p>
          </div>
        </li>

        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ul>
    </div>
  </div>
</section>