<section class="section section-products">
  <div class="container products-container">
    <div class="products-heading-box">
      <h2 class="heading-2 products-heading">
        Fresh Organic Supply Direct From <br />
        Farmer to Home
      </h2>
      <div class="products-filter-box">
        <form class="products-filter-box">

          <button class="search-button" type="button">
            <span><ion-icon name="search-outline"></ion-icon></span> <input [(ngModel)]="searchTerm"
              (input)="onSearch()" type="text" name="search" placeholder="Search products...">
          </button>
          <div class="form-group">
            <label for="sort">Sort by</label>
            <select (change)="onSortChange($event)" #sort [(ngModel)]="selectedSort" name="sort" id="sort">
              @for (sortedItem of sortProducts; track sortedItem) {
              <option [value]="sortedItem.value"> {{sortedItem.label}} </option>
              }
            </select>
          </div>
        </form>
      </div>
    </div>


    <ul class="home-product-list">
      @if (isLoading) {
      <span class="loader"></span>
      } @else {

      @for (product of filteredProducts; track product._id) {

      <li class="home-product-item">
        <button class="product-like-icon" type="button">
          <ion-icon name="heart-outline"></ion-icon>
        </button>
        <img src="{{product.imageUrl}}" alt="{{product.name}}" class="home-product-image" />
        <button class="product-button">
          <ion-icon class="product-shop-icon" name="cash-outline"></ion-icon>
        </button>
        <div class="home-product-content">
          <p class="product-title">{{product.name}} {{product.weight}}gm</p>
          <p appPrice class="product-price">{{product.price | currency: 'EUR'}}</p>
          <a [routerLink]="['/products', product._id]" class="product-details">
            details &#10555;
          </a>
        </div>
      </li>
      }
      }

    </ul>
  </div>
</section>