/* CTA SECTION */
/* .section-cta {
} */
.cta-container {
  padding: 0 4rem 14rem 4rem;
  display: flex;
}
.cta-image {
  width: 100%;
  flex: 1 0 50%;
  object-fit: cover;
  text-align: center;
  display: block;
}
.cta-content {
  flex: 1 0 50%;

  background-color: var(--primary-dark-green);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 14rem;
  gap: 3.8rem;
}
.cta-logo-image {
  width: 20rem;
  height: 20rem;
}
.cta-heading {
  color: var(--white);
  font-weight: bold;
}
.cta-text {
  color: var(--white);

  line-height: 1.6;
}
.cta-btn {
  align-self: start;
  padding: 2rem 6rem;
  cursor: pointer;
  border-radius: 50rem;
  background-color: var(--white);
  color: var(--primary-dark-green);
  font-weight: bold;
  text-decoration: none;
  display: block;
}
.cta-btn:hover {
  background-color: var(--soft-gray);
}

/* WELCOME SECTION */

.welcome-section {
  display: flex;
  justify-content: space-between;
  gap: 12rem;
  padding-bottom: 14rem;
  align-items: center;
}

.welcome-content {
  width: 70rem;
  align-self: start;
}
/* .heading-2 {
}
.welcome-title {
} */

.paragraphNone {
  display: block;
}
.welcome-link {
  border: none;
  background-color: transparent;
  padding: 1.6px;
  color: var(--primary-dark-green);
  border-bottom: 1px solid currentColor;
  transition: 0.3s all;
  cursor: pointer;
}

.welcome-link:hover {
  border-bottom: none;
}

.welcome-image-box {
  width: 70rem;
}

.welcome-image {
  width: 100%;
  object-fit: cover;
  height: 100%;
  display: block;
}

.hide-text {
  display: none;
}
