<app-why-us></app-why-us>

<section class="section section-cta">
  <div class="container cta-container">
    <img class="cta-image" src="../../images/why/cta-image.png" alt="a women on the field pulling some vegetables" />
    <div class="cta-content">
      <img src="../../images/home/cta-logo-image.png" alt="Organic logo image" class="cta-logo-image" />
      <h2 class="heading-2 cta-heading">
        Better for farmers, <br />
        Better for the Planet.
      </h2>
      <p class="cta-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Accusamus laboriosam expedita voluptatem animi aperiam, asperiores
        ipsam quod veniam enim aspernatur sint quas possimus, quos cumque.
      </p>
      <a href="#" class="cta-btn">Buy now</a>
    </div>
  </div>
</section>
<section class="section welcome-section">
  <div class="welcome-content">
    <h2 class="heading-2 welcome-title">
      Fresh Produce Delivery. Farm-to-table Experience
    </h2>
    <p class="welcome-parahraph">
      Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text
      ever since the 1500s, when an unknown printer took a galley of type
      and scrambled it to make a type specimen book.
    </p>
    @if (cssClassP) {

    <p class="welcome-parahraph">
      It was popularised in the 1960s with the release of Letraset sheets
      containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>
    }
    <button (click)="showTextP()" class="welcome-link">{{ cssClassP ?'Hide Text' :'Read More...'  }}</button>
  </div>
  <div class="welcome-image-box">
    <img class="welcome-image" src="../../images/why/why-image-corb.png" />
  </div>
</section>
<section class="section welcome-section">
  <div class="welcome-image-box">
    <img class="welcome-image" src="../../images/why/why-us-image-vegetables.png" alt="" />
  </div>
  <div class="welcome-content">
    <h2 class="heading-2 welcome-title">
      Fresh Produce Delivery. Farm-to-table Experience
    </h2>
    <p class="welcome-parahraph">
      Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text
      ever since the 1500s, when an unknown printer took a galley of type
      and scrambled it to make a type specimen book.
    </p>
    <p>
      @if(cssClass) {
      It was popularised in the 1960s with the release of Letraset sheets
      containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
      }


    </p>
    <button (click)="showText()" class="welcome-parahraph"
      class="welcome-link">{{cssClass ? 'Hide Text': 'Read More...' }}</button>
  </div>
</section>