.hero-container,
.why-container {
  color: var(--white);
  background-position: center center;
  background-size: cover;
  padding: 0 4rem;

  margin-bottom: 14rem;
}

.industrie-container,
.product-details-container,
.product-container,
.global-container {
  color: var(--white);
  background-position: center center;
  background-size: cover;
  padding: 0 4rem;
  margin-bottom: 0;
}

.hero,
.industrie,
.product-details,
.product,
.why,
.global {
  height: 100vh;
}

.logo {
  /* display: inline-block; */
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--white);
  text-decoration: none;
  transition: all 0.3s;
  &:hover {
    color: var(--light-gray);
  }
}

.header {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation {
  width: 100%;
}

.navigation-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navigation-item {
  list-style: none;
}

.navigation-item a {
  text-decoration: none;
  color: var(--white);
  padding-bottom: 1px;
  transition: all 0.3s;
  position: relative;
}
.navigation-item a:hover::after,
.navigation-item a.active::after {
  content: "";
  height: 2px;
  width: 40%;
  /* display: block; */
  background-color: var(--white);
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: -2px;
  z-index: 10;
  border-radius: 50rem;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-icons > * {
  cursor: pointer;
  color: var(--white);
}

.header-heading {
  color: var(--white);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
