<div [class]="containerClass" [ngStyle]="{'background-image': headerBg}">
  <header class="header">
    <a routerLink="/" class="logo">
      <ion-icon name="earth-outline"></ion-icon><span>Dankov</span>
      <span>Global</span>
    </a>
    <nav class="navigation">
      <ul class="navigation-list">
        <li class="navigation-item"><a routerLink="/home" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li class="navigation-item">
          <a routerLink="/why-dankov" routerLinkActive="active">Why Dankov</a>
        </li>
        <li class="navigation-item">
          <a routerLink="/industries" routerLinkActive="active">Industries</a>
        </li>
        <li class="navigation-item"><a routerLink="/products" routerLinkActive="active">Products</a></li>
        <li class="navigation-item">
          <a routerLink="/global-facilities" routerLinkActive="active">Global Facilities</a>
        </li>
        <li class="navigation-item"><a routerLink="/company" routerLinkActive="active">Company</a></li>
        @if (isLoggedIn()) {

        <li class="navigation-item"><a routerLink="/create" routerLinkActive="active">Create new Product</a>
        </li>
        }
      </ul>
    </nav>
    <div class="header-icons">
      @if (isLoggedIn()) {
      <a routerLink="/profile" class="user-profile">
        <ion-icon name="person-circle-outline"></ion-icon>
        {{currentUser()?.username}}

      </a>

      } @else {


      <a routerLink="/login" routerLinkActive="router-link-active" class="sign-up">
        <ion-icon name="person-add-outline"></ion-icon>
      </a>
      }

      <ion-icon name="cart-outline"></ion-icon>
      <ion-icon name="search-outline"></ion-icon>

      @if (isLoggedIn()) {
      <button class="logout-btn" (click)="logout()" type="button">
        <ion-icon name="log-out-outline"></ion-icon>
        <span>logout</span>
      </button>
      }
      <!-- <span>sign up</span> -->

    </div>
  </header>
  <h1 class="heading-1 header-heading">
    {{headertitle}}
  </h1>
</div>