<section class="section welcome-section">
  <div class="welcome-content">
    <h2 class="heading-2 welcome-title">
      Fresh Produce Delivery. Farm-to-table Experience
    </h2>
    <p class="welcome-parahraph">
      Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text
      ever since the 1500s, when an unknown printer took a galley of type
      and scrambled it to make a type specimen book.
    </p>
    @if (cssClass) {

    <p class="welcome-parahraph ">
      It was popularised in the 1960s with the release of Letraset sheets
      containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>
    }
    <button class="welcome-link" (click)="readMore()">{{cssClass ? 'Hide Text': 'Read More...' }} </button>
  </div>
  <div class="welcome-image-box">
    <img class="welcome-image" src="/images/home/welcome-image.png" alt="" />
  </div>
</section>