<footer class="footer">
  <div class="container">
    <div class="footer-image-box">
      <div class="footer-image-content">
        <h2 class="heading-2 footer-heading">Let's Get to Work</h2>
        <a class="cta-btn footer-btn" href="#">Contact Us</a>
      </div>
    </div>
    <div class="footer-content">
      <div class="footer-links">
        <a routerLink="/" class="logo footer-logo">
          <ion-icon class="footer-logo-icon" name="earth-outline"></ion-icon><span>Dankov</span>
          <span>Global</span>
        </a>
      </div>
      <div class="footer-links">&nbsp;</div>
      <div class="footer-links">
        <h6 class="heading-6 footer-heading-6">Learn</h6>
        <a class="footer-link" href="#">Company</a>
        <a class="footer-link" href="#">Responsibility</a>
        <a class="footer-link" routerLink="/why-dankov">Why Dankov</a>
      </div>
      <div class="footer-links">
        <h6 class="heading-6 footer-heading-6">Explore</h6>
        <a class="footer-link" routerLink="/products">Products</a>
        <a class="footer-link" href="#">Blogs</a>
        <a class="footer-link" href="#">Reviews</a>
      </div>
      <div class="footer-links">
        <h6 class="heading-6 footer-heading-6">Colaborate</h6>
        <a class="footer-link" href="#">Contact</a>
        <a class="footer-link" href="#">Become a supply</a>
        <a class="footer-link" href="#">Careers</a>
      </div>
      <div class="footer-links">
        <h6 class="heading-6 footer-heading-6">Connect</h6>
        <address>
          Melbourne VIC 3000 <br />
          1300 123 4444 <br />
          <a class="footer-mail" href="mailto:info@thomasglobal.com">{{`info@thomasglobal.com`}}</a>
        </address>
      </div>
    </div>
    <div class="footer-copy">
      &copy; {{date}} Dankov Global. All rights Reserved.
    </div>
  </div>
</footer>