<section class="section section-product-description">
  <div class="container product-description-container">
    <div class="product-description">
      <div class="product-description-image-box">
        <img class="product-description-image" src="{{product?.imageUrl}}" alt="{{product?.name}}" />
        <div class="actions-btn">
          <button (click)="onRemoveItem()" type="button">del <ion-icon name="trash-outline"></ion-icon> </button>
          <button type="button">edit <ion-icon name="create-outline"></ion-icon></button>
        </div>
      </div>
      <div class="product-description-content-box">
        <h3 class="product-description-heading">{{product?.name}} {{product?.weight}}</h3>
        <p class="availabity">
          <span>SKU: TG1528</span>
          <span>Availability: In Stock</span>
        </p>
        <p class="product-description-text">
          {{product?.description}}
        </p>
        <p class="product-decription-price">
          <span appPrice>{{product?.price | currency: 'EUR'}}</span>
          <sup style="text-decoration: line-through"> {{productDiscount | currency: 'EUR'}} </sup>
        </p>
        <p class="product-decription-quantity">
          <label for="quantity">Quantity:</label>
          <input type="number" id="quantity" name="quantity" min="1" max="100" value="1" />
        </p>
        <button class="btn btn-primary">Add to Cart</button>
      </div>
    </div>
  </div>
</section>

<section class="section product-info-section">
  <div class="container product-info-container">

    <h2 class="heading-2 product-info-heading">Product Information</h2>
    <div class="product-info-accordion">
      <div class="item">
        <header (click)="showDescrition()" [class]="showProductDescrition ? 'show-item-header' : 'item-header'">
          <p class="text">Product Description</p>
          @if (showProductDescrition) {

          <ion-icon class="icon" name="remove-outline"></ion-icon>
          } @else {
          <ion-icon class="icon" name="add-outline"></ion-icon>
          }
        </header>
        @if (showProductDescrition) {
        <div class="hidden-box">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptate amet suscipit voluptatum
            aliquid nisi tempora, voluptatibus alias consequatur ratione, dolores sunt voluptas minus repudiandae
            asperiores est nemo corrupti delectus.
          </p>
        </div>

        }
      </div>
      <div class="item">
        <header (click)="showRefund()" [class]="showRefundDescrition ? 'show-item-header': 'item-header'">

          <p class="text">Refund & Return Policy</p>
          @if (showRefundDescrition) {

          <ion-icon class="icon" name="remove-outline"></ion-icon>
          } @else {
          <ion-icon class="icon" name="add-outline"></ion-icon>

          }
        </header>
        @if (showRefundDescrition) {
        <div class="hidden-box">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptate amet suscipit voluptatum
            aliquid nisi tempora, voluptatibus alias consequatur ratione, dolores sunt voluptas minus repudiandae
            asperiores est nemo corrupti delectus.
          </p>
        </div>

        }
      </div>
      <div class="item">
        <header (click)="showShippingInfo()" [class]="showShippingDescrition ? 'show-item-header':  'item-header'">

          <p class="text">Shipping info</p>
          @if (showShippingDescrition) {

          <ion-icon class="icon" name="remove-outline"></ion-icon>
          } @else {
          <ion-icon class="icon" name="add-outline"></ion-icon>

          }
        </header>
        @if (showShippingDescrition) {

        <div class="hidden-box">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptate amet suscipit voluptatum
            aliquid nisi tempora, voluptatibus alias consequatur ratione, dolores sunt voluptas minus repudiandae
            asperiores est nemo corrupti delectus.
          </p>
        </div>
        }
      </div>
    </div>
  </div>
</section>

<section class="section section-product-carousel">
  <div class="container product-carousel-container">
    <div class="product-carousel">
      <h2 class="heading-2 product-carousel-heading">You May Also Like</h2>

      <ul class="product-carousel-list">
        <ion-icon name="chevron-back-outline"></ion-icon>
        <li class="home-product-item">
          <img src="../../images/home/product-1.png" alt="lettice image" class="home-product-image" />

          <div class="home-product-content">
            <p class="product-title">Chinese Cabbage 250gm</p>
            <p class="product-price">20.00€</p>
          </div>
        </li>
        <li class="home-product-item">
          <img src="../../images/home/product-1.png" alt="lettice image" class="home-product-image" />

          <div class="home-product-content">
            <p class="product-title">Chinese Cabbage 250gm</p>
            <p class="product-price">20.00€</p>
          </div>
        </li>
        <li class="home-product-item">
          <img src="../../images/home/product-1.png" alt="lettice image" class="home-product-image" />

          <div class="home-product-content">
            <p class="product-title">Chinese Cabbage 250gm</p>
            <p class="product-price">20.00€</p>
          </div>
        </li>
        <li class="home-product-item">
          <img src="../../images/home/product-1.png" alt="lettice image" class="home-product-image" />

          <div class="home-product-content">
            <p class="product-title">Chinese Cabbage 250gm</p>
            <p class="product-price">20.00€</p>
          </div>
        </li>
        <li class="home-product-item">
          <img src="../../images/home/product-1.png" alt="lettice image" class="home-product-image" />

          <div class="home-product-content">
            <p class="product-title">Chinese Cabbage 250gm</p>
            <p class="product-price">20.00€</p>
          </div>
        </li>

        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ul>
    </div>
    <div class="product-carousel">
      <h2 class="heading-2 product-carousel-heading">Recently Visited</h2>

      <ul class="product-carousel-list">
        <ion-icon name="chevron-back-outline"></ion-icon>
        <li class="home-product-item">
          <img src="../../images/home/product-1.png" alt="lettice image" class="home-product-image" />

          <div class="home-product-content">
            <p class="product-title">Chinese Cabbage 250gm</p>
            <p class="product-price">20.00€</p>
          </div>
        </li>
        <li class="home-product-item">
          <img src="../../images/home/product-1.png" alt="lettice image" class="home-product-image" />

          <div class="home-product-content">
            <p class="product-title">Chinese Cabbage 250gm</p>
            <p class="product-price">20.00€</p>
          </div>
        </li>
        <li class="home-product-item">
          <img src="../../images/home/product-1.png" alt="lettice image" class="home-product-image" />

          <div class="home-product-content">
            <p class="product-title">Chinese Cabbage 250gm</p>
            <p class="product-price">20.00€</p>
          </div>
        </li>
        <li class="home-product-item">
          <img src="../../images/home/product-1.png" alt="lettice image" class="home-product-image" />

          <div class="home-product-content">
            <p class="product-title">Chinese Cabbage 250gm</p>
            <p class="product-price">20.00€</p>
          </div>
        </li>
        <li class="home-product-item">
          <img src="../../images/home/product-1.png" alt="lettice image" class="home-product-image" />

          <div class="home-product-content">
            <p class="product-title">Chinese Cabbage 250gm</p>
            <p class="product-price">20.00€</p>
          </div>
        </li>

        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ul>
    </div>
  </div>
</section>