<section class="section section-product-description">
  <div class="container product-description-container">
    <div class="product-description">
      <div class="product-description-image-box">
        <img appHover class="product-description-image" src="{{product?.imageUrl}}" alt="{{product?.name}}" />
        @if (isLoggedIn() && isOwner) {
        @if (!isEditing) {

        <div class="actions-btn">
          <button (click)="onRemoveItem()" type="button">del <ion-icon name="trash-outline"></ion-icon> </button>
          <button (click)="onEditItem()" type="button">edit <ion-icon name="create-outline"></ion-icon></button>
        </div>
        }
        }
      </div>
      <div class="product-description-content-box">

        @if (isEditing) {

        <form [formGroup]="productForm" class="edit-form" (ngSubmit)="handleEdit()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Product Name..." formControlName="name">
            @if (nameError) {
            <p class="error">
              {{nameErrorMsg}}
            </p>
            }
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" rows="8" cols="30" placeholder="Description.."
              formControlName="description"></textarea>
            @if (descriptionError) {
            <p class="error">
              {{descriptionErrorMsg}}
            </p>
            }
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input id="price" type="number" name="price" value="" placeholder="Price.." step="0.01"
              formControlName="price">
            @if (priceError) {
            <p class="error">
              {{priceErrorMsg}}
            </p>
            }
          </div>
          <div class="form-group">
            <label for="imageUrl">Image</label>
            <input id="image" type="text" name="imageUrl" value="" placeholder="Image Url...http://"
              formControlName="imageUrl">
            @if (imageUrlError) {
            <p class="error">
              {{imageUrlErrorMsg}}
            </p>
            }
          </div>

          <div class="form-group">
            <label for="category">Category</label>
            <select id="category" name="category" formControlName="category">
              @for (category of productCategory; track category) {

              <option value="{{category}}">{{category}}</option>
              }

            </select>
            @if (categoryError) {
            <p class="error">
              {{categoryErrorMsg}}
            </p>
            }
          </div>
          <div class="form-group">
            <label for="stock">Stock</label>
            <input id="stock" type="number" name="Stock" value="" placeholder="stock" formControlName="stock">

          </div>
          <div class="form-group">
            <label for="rating">Rating</label>
            <input id="rating" type="number" name="rating" formControlName="rating" value="1" min="1" max="5"
              placeholder="rating" readonly>

          </div>
          <div class="form-group">
            <label for="weight">Weight</label>
            <input id="weight" type="number" name="weight" value="" placeholder="weight" formControlName="weight"
              step="0.01">
            @if (weightError) {
            <p class="error">
              {{weightErrorMsg}}
            </p>
            }
          </div>


          <div class="edit-actions">
            <button (click)="handleCancel()" class="back">Cancel</button>
            <button [disabled]="productForm.invalid" type="submit" class="btn">
              Edit Product
            </button>

          </div>


        </form>
        } @else {
        <h3 class="product-description-heading">{{product?.name}} {{product?.weight}} gr.</h3>
        <p class="availabity">
          <span> Likes: ❤️ {{product?.likes?.length}} </span>
          <span>Availability: In Stock</span>
        </p>
        <p class="product-description-text">
          {{product?.description}}
        </p>
        <p class="product-decription-price">
          <span appPrice>{{product?.price | currency: 'EUR'}}</span>
          <sup style="text-decoration: line-through"> {{productDiscount | currency: 'EUR'}} </sup>
        </p>
        <p class="product-decription-quantity">
          <label for="quantity">Quantity:</label>
          <input type="number" id="quantity" name="quantity" min="1" max="100" value="1" />
        </p>
        <button class="btn btn-primary add-to-card">Add to Cart</button>
        }
      </div>



    </div>
  </div>
</section>

<section class="section product-info-section">
  <div class="container product-info-container">

    <h2 class="heading-2 product-info-heading">Product Information</h2>
    <div class="product-info-accordion">
      <div class="item">
        <header (click)="showDescrition()" [class]="showProductDescrition ? 'show-item-header' : 'item-header'">
          <p class="text">Product Description</p>
          @if (showProductDescrition) {

          <ion-icon class="icon" name="remove-outline"></ion-icon>
          } @else {
          <ion-icon class="icon" name="add-outline"></ion-icon>
          }
        </header>
        @if (showProductDescrition) {
        <div class="hidden-box">
          <p>
            {{product?.description}}
          </p>
        </div>

        }
      </div>
      <div class="item">
        <header (click)="showRefund()" [class]="showRefundDescrition ? 'show-item-header': 'item-header'">

          <p class="text">Refund & Return Policy</p>
          @if (showRefundDescrition) {

          <ion-icon class="icon" name="remove-outline"></ion-icon>
          } @else {
          <ion-icon class="icon" name="add-outline"></ion-icon>

          }
        </header>
        @if (showRefundDescrition) {
        <div class="hidden-box">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptate amet suscipit voluptatum
            aliquid nisi tempora, voluptatibus alias consequatur ratione, dolores sunt voluptas minus repudiandae
            asperiores est nemo corrupti delectus.
          </p>
        </div>

        }
      </div>
      <div class="item">
        <header (click)="showShippingInfo()" [class]="showShippingDescrition ? 'show-item-header':  'item-header'">

          <p class="text">Shipping info</p>
          @if (showShippingDescrition) {

          <ion-icon class="icon" name="remove-outline"></ion-icon>
          } @else {
          <ion-icon class="icon" name="add-outline"></ion-icon>

          }
        </header>
        @if (showShippingDescrition) {

        <div class="hidden-box">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptate amet suscipit voluptatum
            aliquid nisi tempora, voluptatibus alias consequatur ratione, dolores sunt voluptas minus repudiandae
            asperiores est nemo corrupti delectus.
          </p>
        </div>
        }
      </div>
    </div>
  </div>
</section>

<app-product-carousel></app-product-carousel>