.logo {
  /* display: inline-block; */
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--white);
  text-decoration: none;
}

.header {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation {
  width: 100%;
}

.navigation-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navigation-item {
  list-style: none;
}

.navigation-item a {
  text-decoration: none;
  color: var(--white);
  padding-bottom: 1px;
  transition: all 0.3s;
  position: relative;
}
.navigation-item a:hover::after,
.navigation-item a.active::after {
  content: "";
  height: 2px;
  width: 40%;
  /* display: block; */
  background-color: var(--white);
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: -2px;
  z-index: 10;
  border-radius: 50rem;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-icons > * {
  cursor: pointer;
}

.header-heading {
  color: var(--white);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* PRODUCT DESCRIPTION DETAILS */

.section-product-description {
  padding: 14rem;
  margin-bottom: 14rem;
  background-color: var(--soft-gray);
}

/* .product-description-container {
} */

.product-description-content-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  // padding: 2rem;
}

.product-description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20rem;
}
.product-description-image {
  width: 100%;
}

// Actions
.actions-btn {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.actions-btn button {
  border: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;

  &:nth-child(1) {
    color: var(--error);
  }
  &:nth-child(2) {
    color: var(--edit);
  }
}

.product-decription-quantity {
  display: flex;
  gap: 10rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.product-decription-quantity input[name="quantity"] {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--light-green);
  padding: 0.8rem 1rem;
  background-color: transparent;
  text-align: center;
  color: var(--primary-dark-green);
  font-weight: bold;
}

.btn-primary.add-to-card {
  display: inline-block;
  width: max-content;
  padding: 1rem 2rem;
  background-color: var(--light-green);
  color: var(--white);
  text-decoration: none;
  border-radius: 50rem;
  transition: all 0.3s;
  border: none;
  align-self: flex-end;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-dark-green);
  }
}

.availabity {
  display: flex;
  justify-content: space-between;
}

/* accordion */

.product-info-heading {
  text-align: center;
  margin-bottom: 7rem;
}
.product-info-accordion {
  width: 70rem;
  margin: 0 auto;
  margin-bottom: 14rem;
}
/* .item {
} */

.item-header {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 0;
  margin-bottom: 2.4rem;
  border-bottom: 2px solid var(--light-gray);
  cursor: pointer;
}
.show-item-header {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 0;
  margin-bottom: 2.4rem;
  border-bottom: 2px solid var(--light-gray);
  cursor: pointer;
}

.show-item-header > * {
  color: var(--light-green);
}
.text {
  font-size: 2.4rem;
  font-weight: 600;
}
.icon {
  width: 2.4rem;
  height: 2.4rem;
}
.hidden-box {
  display: block;
}
.hidden-box p {
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

/* Product Carousel */
.section-product-carousel {
  padding: 14rem 0;
  background-color: var(--soft-gray);
}
// carosel start
// carosel end
/* .product-content {
} */

.product-title,
.product-price {
  text-align: center;
}

.product-price {
  font-weight: bold;
  color: var(--light-green);
}
// edit page

.edit-form {
  background-color: var(--primary-dark-green);

  padding: 1.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.edit-form input,
.edit-form textarea,
.edit-form select,
.edit-form button {
  padding: 1.2rem 2rem;
  width: 70%;
  // background-color: var(--primary-dark-green);
  border: none;
  border-bottom: 2px solid var(--light-green);
}

.edit-form input:focus,
.edit-form textarea:focus,
.edit-form select:focus {
  background-color: var(--accend-green);
  outline: none;
  border-bottom: 2px solid var(--primary-dark-green);
}

.form-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & label {
    color: var(--light-green);
  }
}

.edit-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  & button {
    // flex: 1 0 50%;
    width: max-content;
    cursor: pointer;
    border-radius: 4px;
  }

  & > .back {
    border: none;
  }
}

.error {
  border-bottom: 2px solid var(--error);
  flex: 1 0 100%;
  color: var(--error);
  font-size: 1.2rem;
  font-weight: 300;
  padding-top: 0.5rem;
}

.error-input {
  border-left: 2px solid var(--error);
}

/* Media queries */
// 1250px 78.128em
@media (max-width: 78.125em) {
  .product-description {
    gap: 5rem;
  }
}

@media (max-width: 62.5em) {
  .product-description {
    grid-template-columns: 1fr;
  }
}
